

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="login/">marks portal</a>
    <br>
    <a href="teacher/">teacher</a>
</body>
</html>
-->

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>M.P.G.S.H.S</title>
    <link rel="icon" type="image/x-icon" href="Bp_poddar.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'decorate.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'nav_fix.css' %}">
</head>
<body>

    <!--  MAIN FORM WHERE THE WEBSITE IS LANDED IS STARTED-->

<form class="main">

    <!--HEADER PART/ NAVIGATION PART STARTED ALL CONTACT INFO NAME IS WRITTEN HERE-->
<div class="navbar">

      <!--LOGO PICTURE-->
        <div class="logo1">
            <img src="{% static '165784.jpg' %}" width="80" height="80" class="logo">
        </div>
         
        <!--COLLEGE NAME, RECOGNISATION , ADDRESS WRITTEN HERE-->
        <div class="all">
           <div class="name">
                    Muraripukur Government Sponsored Higher Secondary School
            </div>

           <div class="address">
                    107 & 1808/4 Ultadanga Main Road, Kolkata- 700067
            </div>
             
            <div class="affiliation">
                    Madhyamik Index No. A2-039
            </div>

             <div class="recog">
                     Higher Secondary Code No. 01155
                     <br>
                     UDISE 19170101633
             </div>
        </div>

     <!--CONTACT INFRMATION-->
    <span class="contact">
        2356-1493<br>
        muraripukurschool@gmail.com
    </span>

    <!--FACEBOOK, LINKED-IN, YOUTUBE MEDIA  -->
                <a href="#" class="fa fa-facebook"></a>

                <a href="https://www.youtube.com/" class="fa fa-youtube"></a>

                <a href="#" class="fa fa-linkedin"></a>

    <!--ADMISSION HELPLINE-->
    <div class="helpline"> 
        Admission Help Line: 9007584564 / 8334822776 / 9451260301 
    </div>

  <!--NAVIGATION PART/ HEADER PART ENDED-->
</div>

<!--FRONT HOVARABLE DROP-DOWN LIST STARTED-->
<div class="color">
      <div class="dropdown">
            <button class="dropbtn">
                Home
            </button>
      </div>
      
    <div class="dropdown">
            <button class="dropbtn">
                About
            </button>
        <div class="dropdown-content">
            <a href="teacher/">TEACHER</a>
            <a href="login/">STUDENT</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
            <button class="dropbtn">
                Academics
            </button>
        <div class="dropdown-content">
             <a href="#">Link 1</a>
             <a href="#">Link 2</a>
             <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
           <button class="dropbtn">
                   Admission
            </button>

        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
            <button class="dropbtn">
                   Placement & training
            </button>


            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>

    </div>

    <div class="dropdown">
        <button class="dropbtn">
            Training & Grooming
        </button>

        <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>    
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn">
            Facilities
        </button>

        <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">
            Activities
        </button>

        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">
            Contact Us
        </button>
    </div>
<!--HOVARABLE DROPDOWN LIST ENDED-->
</div>

<!--COLLEGE PICTURE IN A BIG SIZE WITH ANIMATION STARTED-->
     <div class="picture">
        <div class="slider-container">
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
        </div>
    <!--COLLEGE PICTURE WITH ANIMATION ENDED-->
    </div>
    <!--MARQUEE STARTED-->
            <div class="marq">
                <marquee class="scroll">
                      
                    <img src="{% static 'new.gif' %}"> Glimpses of Some Important Placed Students |   
                    <img src="new.gif"> Online Semester Fee Payment |  
                    <img src="new.gif"> Student Credit Card (West Bengal Govt.), Scholarships Facility Available |   
                    <img src="new.gif"> <a href="NotableRecruiter.pdf" style="text-decoration: none !important; color: white;">Glimpse of Top Recruiters</a>
                
                </marquee>
    <!--MARQUEE ENDED-->
            </div>

    <!--DESCRIPTION ABOUT COLLEGE-->
        <div class="aboutus">
                    <p class="name">About B. P. Poddar Institute of Management and Technology</p>
                <p class="description">
        In 1999, B. P. Poddar Institute of Management and Technology (BPPIMT) was set up as a tribute to late B. P. Poddar, a visionary philanthropist, educationist and founding father of the group.Supported by the B. P. Poddar Foundation for Education, a trust dedicated to enriching the quality 
        of technical and management education in the country. This Institute is approved 
        by the Department of Higher Education, Government of West Bengal and affiliated to 
        the Maulana Abul Kalam Azad University of Technology, West Bengal (Formerly WBUT).
                </p>
                <div class="read">
                       Read more
                </div> 
        </div>
    <!--ENDED-->

            <div class="rest">
            <!--REST PART OF THE WEBSITE STARTED-->  
                <h1 class="in_rest1">Our Founder</h1>
                <h1 class="in_rest2">Vision & Mission</h1>


                        <div class="founder">

                        </div>

                        <!--VISION OF THE COLLEGE DESCRIBED-->   
                        <div class="vision">
                                <div class="vision1">
                                    Vision
                                </div>
                                <p class="vision2">
    
                                    To develop an Institution of Excellence for advancement of Science 
                                    & Technology and for creation of professionals with high sense of 
                                    ETHICAL VALUES and COMMITMENT to the Society, capable of functioning 
                                    unfettered by the shackles of caste, creed, political dogmas and 
                                    religious parochialism, 
                                    to effectively contribute to and lead in shaping of the nation.
                                </p>

                        <!--VISION OF THE COLLEGE ENDED-->       
                        </div>

                        <!--MISSION OF TE COLLEGE DESCRIBED-->

                        <div class="mission">
                            <div class="mission1">
                                Mission
                            </div>

                            <ul class="mission2">
                                                <li class="mission3">Creation of conducive learning atmosphere to inculcate VALUE BASED EDUCATION.</li>
                                                <li class="mission3">Development of STATE OF THE ART TECHNOLOGY and making education responsive to changes.</li>
                                                <li class="mission3">Creation of Effective Interface with Industry and strengthening Industry-Institutional interaction and Entrepreneurship Development.</li>
                                                <li class="mission3">Promoting Research Activities and establishing linkage with National and International Institutes of repute.</li>
                                                <li class="mission3">Creating Awareness for transfer of Technology to rural mass.</li>   
                            </ul>

                        <!--MISSION OF THE COLLEGE ENDED--> 
                        </div>

            <!--REST PART OF THE WEBSITE ENDED-->
            </div>

    <!--  MAIN FORM WHERE THE WEBSITE IS LANDED IS ENDED-->
</form>
     </body>
 </html>
    -->