{% load static %}
<html>
 <head>
 <title>
 Home page
 </title>
 <link rel="stylesheet" href="{% static 'home_page.css' %}">
 </head>
 <body>
 <center>
 <center class="name">MURARI PUKUR GOVERNMENT SPONSORED HIGHER SECONDARY SCHOOL</center>
 </center>
 <center class="name2">EXAMINATION PORTAL</center>
 <br>
 <center>
 <div class="main">
 <br>
 <img src="{% static "f0d8a2abb983e7c9383bbcb9518c2584.jpg" %}" width="200" height="300" align="center">
 <br><br>
 <form action="" method="POST">
{% csrf_token %}
 <label>STUDENT NAME</label>&nbsp<input type="textbox" class="box" name="Student_name">
 <br>
 <br>
 <label>PASSWORD</label>&nbsp<input type="textbox" class="box" name="Password">
 <br>
 <br>
 <a href="marks.html" target=_blank><button type="submit">LOGIN</button></a>
 <button>RESET PASSWORD</button>
 </form>
 </center>
 </body>
</html>